beautifulsoup4==4.12.2
docx2txt==0.8
google==3.0.0
openai==0.27.2
pydub==0.25.1
PySimpleGUI==4.60.4
PySimpleGUI==4.60.5
python-dotenv==1.0.0
Requests==2.31.0
scipy==1.11.1
sounddevice==0.4.6
wavio==0.0.7
